<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Allow direct access to existing files and folders
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d

  # Redirect all requests to index.html (React Router)
  RewriteRule . /index.html [L]
</IfModule>
